.headerbar-container {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    margin-top: 20px;
  }
  
  .label {
    color: black;
    font-size: 15px;
  }
  
  .all {
    font-weight: bold;
  }
  
  .count {
    color: black;
    margin-left: 3px;
  }
  
  .link {
    text-decoration: none;
    color: #007bff;
    margin-left: 6px;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  