.challenges-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .challenges-main {
    display: flex;
    flex-grow: 1;
  }
  .header{
    color: black;
  }
  .challenges-buttons{
    display: flex;
    gap: 350px;
  }
  .challenges-button{
    display: flex;
    gap: 20px;
  }
  .table{
    width: 1500px;
  }